.table {
    width: 100%;
    padding: 10px;
    box-shadow: 15px 15px 30px #bebebe;
    border-radius: 17px;
}

.caption {
    margin-bottom: 10px;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    padding: 5px;
    color: #8c8c8c;
    font-weight: 700;
}

thead {
    width: 100%;
}

th {
    padding: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    border-bottom: 1px solid #000000;
}

tbody {
    width: 100%;
    cursor: pointer;
}

tr {
    width: 100%;
}

td {
    padding: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #8c8c8c;
    border-bottom: 1px solid #bebebe;
}

tr:hover {
    background-color: #f0f0f0;
}
